.signup__footer
  %ul
    %li.signup__footer--link
      = link_to "#", class: "link_decoration_reset"do
        プライバシーポリシー
    %li.signup__footer--link
      = link_to "#", class: "link_decoration_reset" do
        メルカリ利用規約
    %li.signup__footer--link
      = link_to "#", class: "link_decoration_reset" do
        特定商取引に関する表記
  .signup__footer--logo
    = link_to "#" do
      = image_tag "logo-gray.svg", size: "80x65", alt: "mercari",class: "logo-opacity" 
  .signup__footer--copyright
    © 2019 Mercari