.login
  .login__header
    .login__header--logo
      = link_to "#" do
        = image_tag "logo.svg", size: "185x49", alt: "mercari",class: "logo-opacity" 
  .login__main
    .login__main--new-registration
      .login__main--new-registration--box
        アカウントをお持ちでない方はこちら
        = link_to new_user_path, class: "login__main--btn login__main--btn-blue" do
          新規会員登録
    .login__main--others
      .login__main--others--box
        = link_to "#", class: "login__main--others--btn login__main--others--btn-facebook" do
          = fa_icon 'facebook-square',class: "fa-2x login__main--others--btn--logo"
          .login__main--others--btn--center
            Facebookでログイン
        = link_to "#", class: "login__main--others--btn login__main--others--btn-google" do
          = image_tag "Glogo.png", size: "25x25", class: "login__main--others--btn--logo"
          .login__main--others--btn--center
            Googleでログイン
    .login__main--form
      .login__main--form--box
        = form_with model: @user, url: user_session_path, method: :post do |f|
          = f.text_field :email, placeholder: "メールアドレス", class: "login__main--form--box--field"
          .login__main--form--spacer
          = f.text_field :password, placeholder: "パスワード", class: "login__main--form--box--field"
          .login__main--form--spacer
          = f.submit "ログイン", class: "login__main--form--box--submit"
          .login__main--form--spacer
          = link_to "#", class: "login__main--form--box--msg" do
            パスワードをお忘れの方
  = render 'shared/logo-footer'