.other-item-contents__box
  = link_to "" do
    .photo
      = image_tag "http://placehold.jp/220x220.png"
    .text
      %h3 出品ユーザーの商品
      .price-box
        .price¥1,000
        = fa_icon "heart"
        %span
          1
.other-item-contents__box
  = link_to "" do
    .photo
      = image_tag "http://placehold.jp/220x220.png"
    .text
      %h3 出品ユーザーの商品
      .price-box
        .price¥1,000
        = fa_icon "heart"
        %span
          1
.other-item-contents__box
  = link_to "" do
    .photo
      = image_tag "http://placehold.jp/220x220.png"
    .text
      %h3 出品ユーザーの商品
      .price-box
        .price¥1,000
        = fa_icon "heart"
        %span
          1
.other-item-contents__box
  = link_to "" do
    .photo
      = image_tag "http://placehold.jp/220x220.png"
    .text
      %h3 出品ユーザーの商品
      .price-box
        .price¥1,000
        = fa_icon "heart"
        %span
          1
.other-item-contents__box
  = link_to "" do
    .photo
      = image_tag "http://placehold.jp/220x220.png"
    .text
      %h3 出品ユーザーの商品
      .price-box
        .price¥1,000
        = fa_icon "heart"
        %span
          1
.other-item-contents__box
  = link_to "" do
    .photo
      = image_tag "http://placehold.jp/220x220.png"
    .text
      %h3 出品ユーザーの商品
      .price-box
        .price¥1,000
        = fa_icon "heart"
        %span
          1