.top-wrapper
  = render 'shared/global_header'
  .top-content
    .top-content__news
      .top-content__news__camp
      .top-content__news__leftarrow
      .top-content__news__rightarrow
      .top-content__news__dots
        %span.top-content__news__dots__left
        %span.top-content__news__dots__center
        %span.top-content__news__dots__right
    .top-content__items
      .top-content__items__class
        %h2.top-content__items__class__title 人気のカテゴリー
        %ul.top-content__items__class__detail
          %li.top-content__items__class__detail__list
            =link_to "あいうえお", '', class: "top-content__items__class__detail__list__link"
          %li.top-content__items__class__detail__list
            =link_to "かきく", '', class: "top-content__items__class__detail__list__link"
          %li.top-content__items__class__detail__list
            =link_to "さしすせそ・たちつてと", '', class: "top-content__items__class__detail__list__link"
          %li.top-content__items__class__detail__list
            =link_to "なにぬねの・はひふ", '', class: "top-content__items__class__detail__list__link"
      .top-content__items__list
        .top-content__items__list__header
          %h3.top-content__items__list__header__title 新着アイテム
          =link_to "もっと見る >", '', class: "top-content__items__list__header__more"
        .top-content__items__list__cards
          - @items.each_with_index do |item, i|
            = link_to '' do
              -# = render partial: 'item_card', locals: {item: item}
              %figure.top-content__items__list__cards__card__f
                = image_tag @images[i], class: 'top-content__items__list__cards__card__f__img'
                %figcaption.top-content__items__list__cards__card__f__caption=item.name
                %span.top-content__items__list__cards__card__f__price= number_to_currency(@prices[i], :unit => '¥', :precision =>0)
          
      .top-content__items__list
        .top-content__items__list__header
          %h3.top-content__items__list__header__title レディース新着アイテム
          =link_to "もっと見る >", '', class: "top-content__items__list__header__more"
        .top-content__items__list__cards
          - @radies.each_with_index do |item, i|
            = link_to '' do
              -# = render partial: 'item_card', locals: {item: item}
              %figure.top-content__items__list__cards__card__f
                = image_tag @images1[i], class: 'top-content__items__list__cards__card__f__img'
                %figcaption.top-content__items__list__cards__card__f__caption=item.name
                %span.top-content__items__list__cards__card__f__price= number_to_currency(@prices1[i], :unit => '¥', :precision =>0)
          
        .top-content__items__list
        .top-content__items__list__header
          %h3.top-content__items__list__header__title メンズ新着アイテム
          =link_to "もっと見る >", '', class: "top-content__items__list__header__more"
        .top-content__items__list__cards
          - @mens.each_with_index do |item, i|
            = link_to '' do
              -# = render partial: 'item_card', locals: {item: item}
              %figure.top-content__items__list__cards__card__f
                = image_tag @images2[i], class: 'top-content__items__list__cards__card__f__img'
                %figcaption.top-content__items__list__cards__card__f__caption=item.name
                %span.top-content__items__list__cards__card__f__price= number_to_currency(@prices2[i], :unit => '¥', :precision =>0)

        .top-content__items__list
        .top-content__items__list__header
          %h3.top-content__items__list__header__title インテリア・住まい・小物新着アイテム
          =link_to "もっと見る >", '', class: "top-content__items__list__header__more"
        .top-content__items__list__cards
          - @interiors.each_with_index do |item, i|
            = link_to '' do
              -# = render partial: 'item_card', locals: {item: item}
              %figure.top-content__items__list__cards__card__f
                = image_tag @images3[i], class: 'top-content__items__list__cards__card__f__img'
                %figcaption.top-content__items__list__cards__card__f__caption=item.name
                %span.top-content__items__list__cards__card__f__price= number_to_currency(@prices3[i], :unit => '¥', :precision =>0)

        .top-content__items__list
        .top-content__items__list__header
          %h3.top-content__items__list__header__title ベビー・キッズ新着アイテム
          =link_to "もっと見る >", '', class: "top-content__items__list__header__more"
        .top-content__items__list__cards
          - @babies.each_with_index do |item, i|
            = link_to '' do
              -# = render partial: 'item_card', locals: {item: item}
              %figure.top-content__items__list__cards__card__f
                = image_tag @images4[i], class: 'top-content__items__list__cards__card__f__img'
                %figcaption.top-content__items__list__cards__card__f__caption=item.name
                %span.top-content__items__list__cards__card__f__price= number_to_currency(@prices4[i], :unit => '¥', :precision =>0)
    = render 'shared/global_footer'
    = render 'shared/sell_button'
