= render 'shared/logo_header'
.container
  = form_with model: @item, url: user_items_path(current_user.id), method: :post, local: true do |f|
    .sell
      .sell__title 商品の情報を入力
      .sell__image
        = f.label :image, "出品画像"
        %span.required
        %p.max 最大5枚までアップロードできます
        .sell__image--select
          ドラッグアンドドロップ
          %br
          またはクリックしてファイルをアップロード
          %ul.sell__image--select__ul
            - @item.images.each_with_index do |image, i|
              %label{class: "sell__image--select__ul--text ul--id--#{i}"}
                = f.fields_for :images, image do |img|
                  = img.file_field :image_url, multiple: true, "data-id": "#{i}",id: "file-input-id-#{i}"
                  %li
                  .btn-box
                    %a 編集
                    %a.delete-btn 削除
      .sell__about
        .sell__about__name
          = f.label :name, "商品名"
          %span.required
          = f.text_field :name, class: "form", placeholder: "商品名（必須40文字まで）", required: true, maxlength: 40
        .sell__about__description
          = f.label :description, "商品の説明"
          %span.required
          = f.text_area :description, class: "sell__about__description__form", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", required: true, maxlength: 1000
      .sell__about.clearfix
        .sell__about__left 商品の詳細
        .sell__about__right
          .sell__about__right__wrap
            = f.label :parent_id, "カテゴリー"
            %span.required
            .sell__about__right__wrap--box.parent
              = f.collection_select :parent_id, @category_parents, :id, :name, {prompt: "---"}, {class:'select', id: 'parent_category', required: true}
              %i.fas.fa-chevron-down
            .sell__about__right__wrap--box.hide#category-child-1
              = f.collection_select :child_id, {}, :id, :name, {prompt: "---"}, {class:'select', id: 'child_category', required: true}
              %i.fas.fa-chevron-down
            .sell__about__right__wrap--box.hide#category-child-2
              = f.collection_select :category_id, {}, :id, :name, {prompt: "---"}, {class:'select', id: 'grandchild_category', required: true}
              %i.fas.fa-chevron-down
          .sell__about__right__wrap
            = f.label :size_id, "サイズ"
            %span.required
            .sell__about__right__wrap--box
              = f.collection_select(:size_id, Size.all, :id, :name, prompt: "---", required: true)
              %i.fas.fa-chevron-down
          .sell__about__right__wrap
            = f.label :brand, "ブランド"
            %span.any
            .sell__about__right__wrap--box
            = f.text_field :brand, placeholder: "例）シャネル", class: "form"
          .sell__about__right__wrap
            = f.label :condition_id, "商品の状態"
            %span.required
            .sell__about__right__wrap--box
              = f.collection_select :condition_id, Condition.all, :id, :name, {prompt: "---"}, class:'select', required: true
              %i.fas.fa-chevron-down
      .sell__about.clearfix
        .sell__about__left 配送について
        = link_to "#", class: "question-circle" do
          = fa_icon "question-circle"
        .sell__about__right
          .sell__about__right__wrap
            = f.label :postage_burden_id, "配送料の負担"
            %span.required
            .sell__about__right__wrap--box
              = f.collection_select :postage_burden_id, PostageBurden.all, :id, :name,{prompt: "---"}, {class:'select', id:'paying-side-selection', required: true}
              %i.fas.fa-chevron-down
          .sell__about__right__wrap.hide#delivery-method-box
            = f.label :delivery_method_id, "配送の方法"
            %span.required
            .sell__about__right__wrap--box
              = f.collection_select :delivery_method_id, {}, :id, :name, {prompt: "---"}, {class:'select', id:'delivery-method-selection', required: true}
              %i.fas.fa-chevron-down
          .sell__about__right__wrap
            = f.label :prefecture_id, "発送元の地域"
            %span.required
            .sell__about__right__wrap--box
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name, class: 'select', required: true
              %i.fas.fa-chevron-down
          .sell__about__right__wrap
            = f.label :delivery_day_id, "発送までの日数"
            %span.required
            .sell__about__right__wrap--box
              = f.collection_select :delivery_day_id, DeliveryDay.all, :id, :name, {prompt: "---"}, required: true
              %i.fas.fa-chevron-down
      .sell__about.clearfix
        .sell__about__left 販売価格(300〜9,999,999)
        = link_to "#", class: "question-circle" do
          = fa_icon 'question-circle'
        .sell__about__right
          .sell__about__right__wrap
            .sell__about__right__wrap__price
              .sell__about__right__wrap__price--label
                = f.label :price, "価格"
                %span.required
              .sell__about__right__wrap__price--input
                ¥
                .sell__about__right__wrap__price--input--form
                  = f.number_field :price, placeholder: "例）300", class: "form", required: true, min:300, max:9999999
          .sell__about__right__wrap__fee.clearfix
            .sell__about__right__wrap__fee--left
              販売手数料 (10%)
            .sell__about__right__wrap__fee--right
              ¥
          .sell__about__right__wrap__profit
            .sell__about__right__wrap__profit--left
              販売利益
            .sell__about__right__wrap__profit--right
              ¥
      .sell__about.clearfix
        .sell__about__bottom
          .sell__about__bottom--text
            %p
              =link_to "禁止されている出品", "#"
              =link_to "行為", "#"
              を必ずご確認ください。
            %p
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              =link_to "偽ブランドの販売", "#"
              は犯罪であり処罰される可能性があります。
            %p
              また、出品をもちまして
              =link_to "加盟店規約"
              に同意したことになります。
          = f.submit '出品する', class: 'sell__about__bottom--btn submit'
          = link_to "もどる", :back, class: 'sell__about__bottom--btn back'
.footer-container
  .footer
    %ul
      %li
        = link_to "#", class: "link" do
          プライバシーポリシー
      %li
        = link_to "#", class: "link" do
          メルカリ利用規約
      %li
        = link_to "#", class: "link" do
          特定商取引に関する表記
    %a.footer__logo
      = link_to "#" do
        = image_tag "logo-gray.svg", size: "80x65"
    %p
      %small © 2019 Mercari