= render 'shared/global_header'
.main-item
  %section.item-box
    %h1.item-box__name
      = @item.name
    .item-box__main
      .item-box__main--photo
        .item-box__main--photo--top#item-show-top
          = image_tag @image_path[0], class: 'item-box__main--photo--top-image'
          - if @item.buyer_id
            .item-box__main--photo--soldout
              .item-box__main--photo--soldout--text
                SOLD
        - for img_num in 0..9 do
          .photo#image_list
            - if @image_path[img_num]
              = image_tag @image_path[img_num], class: 'item-box__main--photo--top-image'
      %table.item-box__main--detail
        %tbody
          %tr
            %th 出品者
            %td
              =link_to @user.nickname ,''
              .face
                %div
                  = fa_icon "smile-o", class: "good-icon"
                  - if @user.good 
                    = @user.good
                  - else
                    %span 0
                %div
                  = fa_icon 'meh-o', class: 'normal-icon'
                  - if @user.fair
                    = @user.fair
                  - else
                    %span 0
                %div
                  = fa_icon 'frown-o', class: 'bad-icon'
                  - if @user.bad
                    = @user.bad
                  - else
                    %span 0
          %tr
            %th カテゴリー
            %td
              =link_to @category_parent, '#'
              =link_to '#' do
                >
                = @category_child
              =link_to '#' do
                >
                = @category_grandchild
          %tr
            %th ブランド
            %td
              - if @item.brand == ""
                なし
              - else
                =link_to @item.brand, '#'
          %tr
            %th 商品の状態
            %td
              = @condition
          %tr
            %th 配送料の負担
            %td
              = @postage_burden
          %tr
            %th 配送の方法
            %td
              = @delivery_method
          %tr
            %th 配送元地域
            %td
              =link_to @prefecture,'#'
          %tr
            %th 発送日の目安
            %td
              = @delivery_day
    .item-box__price
      %span.price
        ￥
        = @price
      %span.tax (税込)
      %span.shipping 送料込み
    - if @item.buyer_id
      .item-box__sold 売り切れました
    - else
      =link_to "購入画面に進む", buy_item_path(@item), class: "item-box__buy"
    .item-box__description
      %p
        ご覧いただきありがとうございます！
        %br/
        出来るだけ丁寧に梱包して発送する予定です。
        %br/
        よろしくお願いいたします。
        %br/
    .item-box__button
      .item-box__button-left
        =link_to '' do
          = fa_icon 'heart'
          %span いいね!
          %span
            = @item.good
        =link_to '' do
          = fa_icon 'flag'
          %span 不適切な商品の報告
      .item-box__button-right
        =link_to '' do
          = fa_icon 'lock'
          %span あんしん・あんぜんのへの取り組み
  .comment
    .comment__box
      %p相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .form
      .send コメントする
  %ul.page-icon
    %li.page-icon__left
      = link_to root_path do
        = fa_icon "chevron-left", class: "icon"
        前の商品
    %li.page-icon__right
      = link_to root_path do
        次の商品
        = fa_icon "chevron-right", class: "icon"
  .social-media
    %ul.social-media__box
      %li
        =link_to '' do
          = fa_icon 'facebook', class: "fa-facebook"
      %li
        =link_to '' do
          = fa_icon 'twitter', class: "fa-twitter"
      %li
        =link_to '' do
          = fa_icon 'pinterest', class: "fa-pinterest"
  .other-item-box
    %h2
      = link_to "#{@user.nickname}さんのその他の出品" 
    .other-item-contents
      - @items.each_with_index do |item, i|
        .other-item-contents__box
          = link_to "" do
            .photo-outframe
              = image_tag @images[i], class: 'photo-inside'
              - if item.buyer_id
                .item-box__main--photo--soldout
                  .item-box__main--photo--soldout--text
                    SOLD
            .text
              .text-box 
                = item.name
              .price-box
                .price
                  ¥
                  = @prices[i]
                - if item.good
                  .heart-box
                    = fa_icon "heart"
                    %span
                      = item.good
= render 'shared/global_footer'